body {
    background-color: #3A4357;
}

.header {
    text-align: center;
    color: white;
    background-color: black;
    margin: 0px auto;
    padding: 3%;
    border-radius: 15px 15px 0px 0px;
}

.twitch-container {
    width: 100%;
    margin-top: 15px;
}

.twitch-content {
    width: 50%;
    height: 25em;
    border: 3px solid black;
    margin: auto;
    border-radius: 25px;
    background-color: #fff;
}

.result {
    color: black;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align:center;
  }



